body
  background-image: url("../../images/Presentation/backgroudPresentation.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:60px;
  .logo-typist
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size:250px;
