.Header
  max-width: 1100px;
  margin:auto;
  box-sizing:border-box;
  display:flex;
  flex-direction: row;
  width:100%;
  position:fixed;
  font-family: "Source Code Pro", sans-serif;
  .Menu
    margin-left:auto;
    ul
      display: flex;
      flex-direction: row;
      li
        margin 0px,10px,0px,10px;
        list-style: none;
  .btnMenu
    font-family: "Source Code Pro", sans-serif;
    background: transparent;
    text-decoration: none;
    color:white;
    font-size:18px;
    border:0px;
    cursor: pointer;
